run = "npm run dev"
entrypoint = "server/index.ts"
modules = ["nodejs-22", "postgresql-16"]

[nix]
channel = "stable-24_05"

[deployment]
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 80
